loguru
GitPython

build123d==0.9.1
ocp_vscode
git+https://github.com/gumyr/bd_warehouse@b7e0dbe87e76244282651e903f6f55257a298219
build123d-ease==0.2.0.0
git+https://github.com/GarryBGoode/gggears.git

ruff
pyright
